/* Colors
Dark purple: #BA2CE1
Light purple: #DA6DE7
Light pink: #FFBDE6 
Soft pink: #FFF9F9
*/

#navbar_logo {
  max-height: 75px;
}

.footer-logo {
  max-height: 35px;
}

.footer-butterfly-logo {
  padding-top: 10px;
  height: 50px;
}

.image-flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.navbar {
  width: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table thead tr th {
  background-color: #BA2CE1!important;
  color: white!important;
}

table th {
  background-color: #DA6DE7!important;
}

table td {
  background-color: #FFBDE6!important;
  color: #BA2CE1!important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #FFBDE6 !important;
}

.active a {
  font-weight: bold !important;
}

.navbar-text, .footer-link {
  color: #BA2CE1 !important;
}

.center-text {
  text-align: center;
}

body {
  color: #BA2CE1;
  font-family: 'Alice';
  background-color: #FFF9F9;
}

.bg-light {
  background-color: #FFBDE6 !important;
}

h1, h2, h3 {
  color: #BA2CE1;
  font-family: 'Overlock';
}

#register-logo {
  height: 250px;
}

.form-control {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.top-padding {
  padding-top: 20px;
}

.big-top-padding {
  padding-top: 150px;
}

.bottom-padding-header {
  padding-bottom: 20px;
}

.btn-success {
  background-color: #BA2CE1!important;
  border: 0;
}

.btn-success:hover {
  background-color: #DA6DE7!important;
  border: 0;
}

.side-panel {
  padding: 75px 160px;
  width: 20%;
}

.main-panel {
  width: 60%;
}


.register-wrapper-container {
  padding-top: 75px;
  padding-bottom: 35px;
}

@media (max-width: 1199px) {
  .side-panel {
    display: none;
  }
  .main-panel {
    width: 100%;
  }
  .register-wrapper-container {
    padding-top: 20px;
  }
}

.register-wrapper {
  background-color: #FFBDE6!important;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner img {
  height: 700px;
  object-fit: cover;
  object-position: 50% 0;
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.carousel {
  margin-bottom: 100px;
}

.btn-register {
  width: 70%;
  height: 50px;
  line-height: 35px;
}

@media (min-width: 992px) {
  .spiral-big {
    display: inherit;
  }
  .spiral-small {
    display: none;
  }
}

@media (max-width: 992px) {
  .spiral-big {
    display: none;
  }
  .spiral-small {
    display: inherit;
  }
}

#dropdown-registration {
  text-align-last: center;
}

.butterfly-divider {
  padding-bottom: 50px;
}

.success-wrapper {
  background-color: #FFBDE6!important;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
}

.img-person {
    border-radius: 40%;
    border:20px solid #DA6DE7;
}

.img-classes {
  border-radius: 40%;
  border:10px solid #DA6DE7 ;
}